{% extends 'base.html.twig' %}

{% block body %}
    <div class="parent-container d-flex">
        <div class="container">
            <div class="row">
                <div class="col">
                    <key-value-table :items="{{ itemsInDb }}"></key-value-table>
                </div>

                <div class="col">
                    {{ include('dashboard/key-value-table.html.twig',
                        {
                            tableName: 'Redis',
                            items: itemsInRedis,
                        },
                        with_context=false
                    )
                    }}
                </div>
            </div>
            <div class="row">
                <div class="container justify-content-center d-flex">
                    {{ form(UploadForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
