{% extends 'base.html.twig' %}

{% block body %}
    <div style="width: 700px; margin: auto;">
        <div>
            <div style="float: left; margin-right: 50px;">
            {{ include('dashboard/key-value-table.html.twig',
                    {
                        tableName: 'DB',
                        items: itemsInDb,
                    },
                    with_context=false
                )
            }}
            </div>

            <div>
            {{ include('dashboard/key-value-table.html.twig',
                    {
                        tableName: 'Redis',
                        items: itemsInRedis,
                    },
                    with_context=false
                )
            }}
            </div>
        </div>

        <div style="clear: both; margin-top: 50px">
            <div style="width: 200px; margin: auto">
                {{ form(UploadForm) }}
            </div>
        </div>
    </div>

{% endblock %}
